<h1><%= t ".about" %></h1>
<p>
  <%= t ".the"%> 
  <%= link_to t(".tutorial_html"), "ttps://www.railstutorial.org/" %>
  <%= t ".is_a" %>
  <%= link_to t(".book"), "https://www.railstutorial.org/book" %>
  <%= t ".and" %>
  <%= link_to t(".screencast_html"), "http://screencasts.railstutorial.org/" %>
  <%= t ".to_teach" %>
  <%= link_to t(".ror"), "http://rubyonrails.org/" %>
  <%= t ".dot" %>
  <%= t ".this_is_simple" %>
</p>
